/****************************************************
    Hands-on Exercise 2
 ****************************************************/
/* Body styles*/
    /* TODO: body, main, footer, .container */
body {
    background-color: white; 
    color: black;
    margin: 0;

}

main {
    padding: 20px;
}

footer {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Typography styles */ 
    /* TODO: h2, p */
h2 {
    text-align: center;
    margin-top: 20px
}

p {
    font-family: 'Madimi One', Static;
}


/* Navigation styles */ 
    /* TODO: nav, nav ul, nav ul li, nav ul li a */
nav {
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    font-style: bold;
    color: black;
    text-decoration: none;
}

/* About Section styles */
    /* TODO: .about-container, .about-paragraph, .about-image */
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

.about-paragraph {
    grid-column: 1;
    text-align: center;
}

.about-image {
    grid-column: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Portfolio Section styles */
    /* TODO: .portfolio-container */
.portfolio-container {

}

/* Skills Section styles */
    /* TODO: .skills-container, .skill, .skill-icon, .skill-icon img, .skill-name */
.skills-container {

}

.skill {

}

.skill-icon {

}

.skill-icon img {

}

.skill-name {

}

/* Contact Section styles */
    /* TODO: .contact-container, .contact-container form, .contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea, .contact-form input, .contact-form textarea, .contact-container input */
.contact-container {

}

.contact-container form {

}

.contact-container input[type="text"] {

}

.contact-container input[type="email"] {

}

.contact-container textarea {

}

.contact-form input {

}

.contact-form textarea {

}

.contact-container input {

}